@charset "utf-8";
html
{
	height:100%;
}
body
{
	margin:0 0 0 0;
	padding:0px;
	font-size:12px;
	height:100%;
}
ul,ul li{list-style: none;}
tr td div{
	font-size:12px;
}
a
{
	color:#0000FF;
	text-decoration:underline;
}
a:hover
{
	color:#FF0000;
	text-decoration:underline;
}

#top
{
	clear:both;
    margin:0px;
    background-color:#4A6984;
    height:70px;
	overflow:hidden;
	min-width:960px;
}
#top a
{
    font-size:12px;
    color:#ffffff;
    text-decoration: none;
}
#top a:hover
{
    font-size:12px;
    color:#ffffff;
    text-decoration: underline;
}
#top #top_1
{
    float:left;
    line-height:30px;
    height:35px;
    width:20%;
    font-size:12px;
    color:#ffffff;
    text-align:left;
    text-indent:15px;
}
#top #top_2
{
    font-size:12px;
    color:#ffffff;
    text-align:center;
    width:70%;
    height:35px;
    line-height:30px;
    float:left;
}
#top #top_3
{
    line-height:30px;
    height:35px;
    float:left;
}
.br_split
{
    clear:both;
    line-height:10px;
}
.br_clear
{
    clear:both;
	line-height:0px;
}
#top #top_4
{
    line-height:30px;
    height:27px;
    text-align:right;
    float:left;
    width:60%;
	color:#FFF;
}
#top #top_4 .orange
{
	color:#FF9A00;
}
#top #top_4 .gray
{
	color:#efefef;
}
.topmenu div
{
    float:left;
    height:27px;
    margin-left:8px;
    line-height:25px;
    background:url(../image/topmenuactivetab.gif) repeat-x right -64px;
    white-space:nowrap;
}
.topmenu div span
{
    background:url(../image/topmenuactivetab.gif) repeat-x 0 -64px;
    margin-right:8px;
    display:block;
    text-decoration:none;
    padding:0 12px 0 15px;
    float:left outline:none;
}
#top #top_5
{
	margin:0px;
    height:4px;line-height:4px;
    background-color:#ffffff;
    clear:both;
	overflow:hidden;
}

#main{
	padding-top:0px;
	margin-top:0px;
	border-top:0px;
	min-width:960px;
}
#left
{
    float:left;
    width:150px;
}
#left .top
{
    color:#000;
    height:28px;
    line-height:28px;
    display:block;
    text-align:center;
    cursor:pointer;
    font-size:14px;
    background:url(../image/leftmenutitle.gif) repeat-x;
	border-top:solid 1px #CECFCE;
	border-right:solid 1px #ADBECE;
}
#left .title
{
	border-right: solid 1px #ffffff;
    border-bottom: solid 1px #CECFCE;
    color:#31659C;
    height:25px;
    line-height:25px;
    display:block;
    text-align:left;
    text-indent:30px;
    cursor:pointer;
    font-size:12px;
    font-weight:normal;
    background:url(../image/menu_1.gif) no-repeat 15px #EFEFEF ;
}
#left .item
{
    border-bottom: solid 0px #EFEFEF;
    background-color:#FFFFFF;
    color:#000000;
    height:25px;
    line-height:25px;
    display:block;
    text-align:left;
	text-indent:30px;
    cursor:pointer;
    font-size:12px;
}
#left .item a
{
	border-bottom: solid 1px #EFEFEF;
    background-color:#FFFFFF;
    color:#000000;
    height:25px;
    line-height:25px;
    display:block;
    text-align:left;
	text-indent:30px;
    cursor:pointer;
    font-size:12px;
	text-decoration:none;
}
#left .item a:hover
{
	border-bottom: solid 1px #EFEFEF;
    background-color:#6B757B;
    color:#ffffff;
    height:25px;
    line-height:25px;
    display:block;
    text-align:left;
	text-indent:30px;
    cursor:pointer;
    font-size:12px;
	text-decoration:none;
}
#left .item a:visited 
{
	border-bottom: solid 1px #EFEFEF;
    background-color:#FFFFFF;
    color:#000000;
    height:25px;
    line-height:25px;
    display:block;
    text-align:left;
	text-indent:30px;
    cursor:pointer;
    font-size:12px;
	text-decoration:none;
}
#left .item a:active 
{
	border-bottom: solid 1px #EFEFEF;
    background-color:#6B757B;
    color:#ffffff;
    height:25px;
    line-height:25px;
    display:block;
    text-align:left;
	text-indent:30px;
    cursor:pointer;
    font-size:12px;
	font-weight:bold;
	text-decoration:none;
}
#center
{
	width:8px;
	float:left;
	margin:0px;
	pading:0px;
	background:url(../image/main_split.gif) no-repeat 0 270px #6B757B;
}
#right
{
	/*padding-left:150px;*/
	margin-left:150px;
	border-left:solid 8px #6B757B;
	min-height:550px;
}
* html #right
{
	height:550px;
}
/*列表样式*/
#right .navigate
{
	background-color:#6B757B;
	height:28px;
	color:#CECFCE;
	text-align:left;
	text-indent:10px;
	line-height:28px;
}
#right .navigate a
{
	color:#CECFCE;
	text-decoration:underline;
}
#right .navigate a:hover
{
	color:#ffffff;
	text-decoration:underline;
}
#right .manage
{
	height:50px;
	line-height:50px;
	background-color:#FFFBF7;
	overflow:hidden;
	border-top:solid 1px #FFF;
	text-align:left;
	text-indent:10px;
}
#right .manage .add
{
	float:left;
	margin-top:5px;
	margin-left:3px;
	margin-right:5px;
	width:72px;
	height:22px;
	line-height:22px;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	border-top:solid 1px #F4F7F4;
	display:block;
	background:url(../image/add.gif) no-repeat 6px 1px #E7EBEF;
	text-indent:32px;
	color:#000;
	text-decoration:none;
}
#right .manage .del
{
	float:left;
	margin-top:5px;
	width:72px;
	height:22px;
	line-height:22px;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	border-top:solid 1px #F4F7F4;
	display:block;
	background:url(../image/del.gif) no-repeat 6px 1px #E7EBEF;
	text-indent:32px;
	color:#000;
	text-decoration:none;
}

#right .manage .ok
{
	float:left;
	margin-top:5px;
	margin-left:3px;
	margin-right:5px;
	width:72px;
	height:22px;
	line-height:22px;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	border-top:solid 1px #F4F7F4;
	display:block;
	background:url(../image/onCorrect.gif) no-repeat 6px 1px #E7EBEF;
	text-indent:32px;
	color:#000;
	text-decoration:none;
}

#right .manage .cancel
{
	float:left;
	margin-top:5px;
	margin-left:3px;
	margin-right:5px;
	width:72px;
	height:22px;
	line-height:22px;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	border-top:solid 1px #F4F7F4;
	display:block;
	background:url(../image/onError.gif) no-repeat 6px 1px #E7EBEF;
	text-indent:32px;
	color:#000;
	text-decoration:none;
}

#right .manage .other
{
	float:left;
	margin-top:5px;
	margin-left:5px;
	width:72px;
	height:22px;
	line-height:22px;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	border-top:solid 1px #F4F7F4;
	display:block;
	background:url(../image/other.gif) no-repeat 6px 1px #E7EBEF;
	text-indent:32px;
	color:#000;
	text-decoration:none;
}
.longbtn
{
	float:left;
	margin-top:5px;
	margin-left:5px;
	width:90px;
	height:22px;
	line-height:22px;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	border-top:solid 1px #F4F7F4;
	display:block;
	background:url(../image/other.gif) no-repeat 6px 1px #E7EBEF;
	text-indent:32px;
	color:#000;
	text-decoration:none;
}
#div_dirtyword
{
	border:solid 1px #BDC7CE;
	background:#f8fafc;
	height:125;
	position:absolute;
	width:350;
	left:161px;
	top:130px;
	z-index:9999;
	zoom:1;
	padding:8px;
}
#div_dirtyword2
{
	border:solid 1px #BDC7CE;
	background:#f8fafc;
	height:200;
	width:390;
	position:absolute;
	left:170px;
	top:130px;
	z-index:9999;
	zoom:1;
	padding:8px;
}
* html #div_dirtyword
{
	left:167px;
}
#div_dirtyword ul
{
	list-style: none;
	width:200px;
	list-style-type:none;
	margin:0px;
	padding:0px;
}
#div_dirtyword ul li
{
	height:25px;
	line-height:25px;
	color:#31659C;
	font-weight:bold;
}
	
#right .search
{
	height:28px;
	line-height:28px;
	text-align:left;
	padding-left:6px;
	border-top:solid 4px #6B757B;
	border-bottom:solid 1px #6B757B;

	background-color:#F7F7FF;
}
#right .btn_search,.btn_search
{
	background-color:#4A6984;
	height:22px;
	border-bottom:solid 1px #000000;
	border-right:solid 1px #000000;
	border-top:solid 1px #DEDFDE;
	border-left:solid 1px #DEDFDE;
	color:#FFF;
	margin-bottom:1px;
}
.table_list
{
	text-align:left;
	border:0px;
	border-spacing:0px;
	border-collapse:collapse;
	margin-top:2px;
}
.table_list th
{
	margin:0px;
	padding:0px;
    height:23px;
	line-height:23px;
	background:url(../image/table_title.jpg);
	text-align:left;
	text-indent:5px;
	font-weight:bold;
	font-size:12px;
	color:#000;
	border-right:solid 1px #DEE3E7;
	border-bottom:solid 1px #CECFCE;
	border-top:solid 1px #FFF;
}
.table_list th div
{
	border-left:solid 1px #FFF;
	border-top:solid 1px #FFF;
	text-indent:7px;
}
.table_list #cbx
{
	text-indent:0px;
	text-align:center;
	width:30px;
}
.table_list td
{
	margin:0px;
	padding:0px;
	height:24px;
	line-height:24px;
	text-align:left;
	background-color:#F7F7FF;
	border-top:solid 1px #FFF;
	border-bottom:solid 1px #DEDFDE;
	border-right:solid 1px #DEE3E7;
	font-size:12px;
	cursor:pointer;
}
.table_list td div
{
	border-left:solid 1px #FFF;
	border-top:solid 1px #FFF;
	text-indent:7px;
}
.table_list td div a {
	color:#31659C;
	text-decoration:none;
}
.table_list td div a:hover {
	color:#FF595A;
	text-decoration:underline;
}
.table_list .onblur td
{
	margin:0px;
	padding:0px;
	height:24px;
	line-height:24px;
	text-align:left;
	background-color:#6B96AD;
	border-top:1px #6B96AD solid;
	border-bottom:1px #6B96AD solid;
	border-right:1px #6B96AD solid;
	cursor:pointer;
	font-size:12px;
	color:#FFF;
}
.table_list .onblur td div
{
	border-left:1px #6B96AD solid;
	border-top:1px #6B96AD solid;
	text-indent:7px;
}

.table_list .info,.info
{
	background-color:#FFF;
	font-size:12px;
	color:#000;
	overflow:hidden;
	border-left:solid 1px #6B96AD;
	border-right:solid 1px #6B96AD;
}
.table_list .info .div_navigate
{
	font-size:12px;
	color:#000;
	height:32px;
	line-height:32px;
	background-color:#EFEFEF;
	/*border-bottom:solid 1px #CECFCE;*/
}

.table_list .info .div_navigate #div_left
{
	float:left;
	text-align:left;
	font-weight:bold;
	text-indent:10px;
	width:360px;
}
.table_list .info .div_navigate #div_right
{
	margin:0px;
	padding:0px;
	float:left;
	text-align:right;
}
.table_list .info .div_navigate ul
{
	list-style-type:none;
	width:100%;
	margin:0px;
	padding:0px;
	padding-top:0px;
}
.table_list .info .div_navigate li
{
	float: left;
	width:70px;
	height:26px;
	line-height:26px;
	border-top:solid 1px #CECFCE;
	border-left:solid 1px #CECFCE;
	border-right:solid 1px #CECFCE;
	border-bottom:solid 1px #CECFCE;
	font-size:12px;
	font-weight:bold;
	color:#636563;
	text-align:center;
	background-color:#FFF;
	margin-left:5px;
	text-indent:0px;
}
.table_list .info .div_navigate li#current
{
	float: left;
	border-top:solid 2px #FF9A00;
	border-bottom:solid 1px #fff;
	border-left:solid 1px #CECFCE;
	border-right:solid 1px #CECFCE;
	width:70px;
	height:28px;
	line-height:28px;
	font-size:12px;
	font-weight:bold;
	color:#000;
	text-align:center;
	background-color:#FFF;
	margin-left:5px;
	text-indent:0px;
}
.table_list .info .div_info,.info .div_info
{
	clear:both;
	background-color:#FFF;
	padding:0px 10px 10px 10px;
	border-bottom:solid 3px #6B96AD;
}
.table_list .info .div_form,.info .div_form
{
	margin:10px 10px 5px 10px;
	border-top:solid 1px #EFEFEF;
	border-right:solid 1px #BDC7CE;
	border-bottom:solid 2px #BDC7CE;
	border-left:solid 1px #EFEFEF;
	background-color:#F7F3F7;
	padding:10px;
}
.table_list .info .div_form div,.info .div_form div
{
	border-top:solid 1px #CECFCE;
	border-left:solid 1px #CECFCE;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	padding:5px;
	background-color:#FFF;
	color:#000;
}
.table_list .info .div_form table,.info .div_form table
{
	text-align:left;
	border:0px;
	border-spacing:0px;
	border-collapse:collapse;
	font-size:12px;
}
.table_list .info .div_form div td,.info .div_form div td
{
	color:#000;
	width:300px;
	height:25px;
	line-height:25px;
	background-color:#FFF;
	border:0px;
}
.table_list .info .div_form .table_list td,.info .div_form .table_list td {
	border-bottom:solid 1px #efefef;
	text-align:left;
	text-indent:5px;
}
.table_list .info .div_form div .left,.info .div_form .left
{
	color:#31659C;
	width:90px;
	height:25px;
	line-height:25px;
	text-align:right;
	padding-right:10px;
}
.info .div_form div ul
{
	list-style-type:none;
	margin:0px;
	padding:0px;
}
.info .div_form div li
{
	height:25px;
	line-height:25px;
}
#right .btn_manage
{
	background-color:#E7EBEF;
	height:20px;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	color:#000;
	display:block;
	line-height:20px;
	width:40px;
	float:left;
	margin-left:3px;
	text-decoration:none;
}

#right .btn_manage_over
{
	background-color:#E7EBEF;
	height:20px;
	border-bottom:solid 1px #ffffff;
	border-right:solid 1px #ffffff;
	border-top:solid 2px #BDC7CE;
	border-left:solid 2px #BDC7CE;
	color:#000;
	display:block;
	line-height:20px;
	width:40px;
	float:left;
	margin-left:3px;
	text-decoration:none;
	text-align:center;
}

#right .btn_def_y
{
	background:url(../image/entry-action-icons.png) no-repeat -6px -30px;
	height:24px;
	border:0px;
	text-decoration:none;
	display:block;
}
#right .btn_def_n
{
	background:url(../image/entry-action-icons.png) no-repeat 10px 2px;
	height:24px;
	border:0px;
	text-decoration:none;
	display:block;
}
#right .btn_uncheck
{
	background:url(../image/entry-action-icons.png) no-repeat -55px -126px;
	height:24px;
	border:0px;
	text-decoration:none;
	display:block;
}

#right .btn_checkout
{
	background:url(../image/entry-action-icons.png) no-repeat -71px -157px;
	height:24px;
	border:0px;
	text-decoration:none;
	display:block;
}

#right .btn_del_no
{
	background:url(../image/sysicon.gif) no-repeat 11px -231px;
	height:24px;
	border:0px;
	text-decoration:none;
	display:block;
}
#right .btn_del_yes
{
	background:url(../image/sysicon.gif) no-repeat 11px -82px;
	height:24px;
	border:0px;
	text-decoration:none;
	display:block;
}

#right .bottom
{
	margin-top:3px;
	background:url(../image/page_bg.gif) repeat-x;
	border-bottom:solid 1px #BDC7CE;
	height:25px;
	padding-left:7px;
}
#right .common_page
{
	margin:0px;
	padding-top:2px;
	width:700px;
	text-align:center;
	float:left;
}       
#right .common_page a {
    text-decoration:none;
	border-right:solid 1px #BDC7CE;
	border-bottom:solid 1px #BDC7CE;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	color:#000000;
}
#right .common_page a, 
#right .common_page span {
    float:left;
    padding:2px 5px;
    margin-right:5px;
	margin-bottom:5px;
}
#right .common_page .current {
    background:#fff;
    color:#000;
	border-top:solid 1px #BDC7CE;
	border-left:solid 1px #BDC7CE;
	border-right:solid 1px #fff;
	border-bottom:solid 1px #fff;
	font-weight:bold;
	height:16px;
}
#right .common_page .prev {
	width:60px;
	border-right:solid 1px #BDC7CE;
	border-bottom:solid 1px #BDC7CE;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	text-align:center;
	height:16px;
} 
#right .common_page .next {
	width:60px;
	border-right:solid 1px #BDC7CE;
	border-bottom:solid 1px #BDC7CE;
	border-top:solid 1px #ffffff;
	border-left:solid 1px #ffffff;
	text-align:center;
	height:16px;
}
#right .total_page
{
	float:left;
	font-size:12px;
	width:15%;
	line-height:25px;
	height:25px;
	padding-right:10px;
	text-align:right;
}
.redtitle
{
	font-size:12px;
	color:#F00;
	font-weight:bold;
}
.activestate
{
	font-size:12px;
	color:#00F;
}
.rockstate
{
	font-size:12px;
	color:#F00;
}

/*表单样式*/
#right .form
{
	margin-top:10px;
	margin-left:15px;
	margin-right:10px;
	padding:3px;
	border-top:solid 1px #EFEFEF;
	border-left:solid 1px #EFEFEF;
	border-right:solid 1px #BDC7CE;
	border-bottom:solid 1px #BDC7CE;
	background-color:#F7F3F7;
}
#right .input
{
	border-top:solid 1px #CECFCE;
	border-left:solid 1px #CECFCE;
	border-bottom:solid 2px #BDC7CE;
	border-right:solid 2px #BDC7CE;
	margin:10px;
	background-color:#FFF;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:8px;
}
#right .form_list
{
	margin-top:4px;
	border-spacing:0px;
}
#right .form_list td
{
	/*border-top:solid 1px #EFEFEF;
	border-right:solid 1px #EFEFEF;*/
	height:31px;
	margin:0px;
	padding-top:5px;
}
#right .form_list .td_left
{
	text-align:right;
	padding-right:5px;
	width:170px;
	font-size:14px;
}
#right .form_list .td_right
{
	text-align:left;
	padding-left:5px;
	font-size:12px;
}
#right .form_list .td_right *{float:left;}
#right .form_list ul
{
	list-style-type:none;
	width:600px;
	margin:0px;
	padding:0px;
}
#right .form_list li
{
	float:left;
	width:300px;
	margin:0px;
	padding:0px;
	height:30px;
}
#right .form_list .interval_line,#right .form_list .interval_line td{
	border-top: solid 1px #efefef;
}

#right .submit
{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
}
#right .btn_submit,.btn_submit
{
	font-size:14px;
	font-weight:bold;
	color:#FFF;
	border-right:solid 2px #000;
	border-bottom:solid 2px #000;
	border-left:solid 2px #DEDFDE;
	border-top:solid 2px #DEDFDE;
	height:26px;
	background-color:#4A6984;
}
#right .load
{
	margin-left:10px;
	height:27px;
	line-height:27px;
}
#right .span_ok,.span_ok
{
	margin-left:10px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	color:#009900;
	background:url(../image/ok2.gif) no-repeat 0px 2px;
	text-indent:50px;
	padding-top:3px;
}
#right .span_error,.span_error
{
	margin-left:10px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	color:#C03;
	background:url(../image/error2.gif) no-repeat 0px 2px;
	text-indent:50px;
	padding-top:3px;
}
#right .span_wait
{
	margin-left:10px;
	height:40px;
	line-height:40px;
	font-size:14px;
	font-weight:bold;
	color:#0557BD;
	background:url(../image/upload.gif) no-repeat 0px 2px;
	text-indent:50px;
	padding-top:3px;
}
#img_load {
	position:fixed;
	display:none;
	margin-left:-16px;
	padding:12px;
	top:50%;
	left:50%;
	width:32px;
	border:1px solid black;
    background-color:#eee;
	z-index:9999;
	/*overflow:hidden;*/
}
* html #img_load {
	position: absolute;
	top:expression((document.documentElement.scrollTop || document.body.scrollTop) + Math.round(30 * (document.documentElement.offsetHeight || document.body.clientHeight) / 100) + 'px');
}
#right .form_list .movie_select_list{
	border: solid 1px #7f9db9;
	overflow:hidden;
	overflow-y:scroll;
	height:70px;
	width:420px;
	height:80px;
}
#right .form_list .movie_select_list li{
	float:left;
	width:190px;
	height:20px;
	padding:0px;
	margin:0px;
	line-height:20px;
	overflow:hidden;
}

